body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('v1013-p-0009a.jpg') center/cover no-repeat;
}

.box {
    border: 1px solid rgb(221, 145, 4);
    width: fit-content;
    padding: 20px;
    background-color: rgb(204, 127, 39);
    border-radius: 15px;
}

.box p{
    font-family: cursive;
}

.box2 img{
    padding: 0px 5px 0px 5px;
    width: 150px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {

.box2 img{
    padding: 0px 5px 0px 5px;
    max-width: 10px;
}
    
}
