body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('v1013-p-0009a.jpg') center/cover no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

.main {
    display: flex;
    border-radius: 5px;
}

.inmain1 img{
    max-width: 250px;
    flex: 1;
    border-radius: 5px;
    padding-top: 30px;
}

.inmain2 {
    background-color: white;
    margin-left: 50px;
    border: 1px solid orange;
    border-radius: 8px;
    flex: 2;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inmain2 a{
    text-decoration: none;
    background-color: #B8CCD5;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.inmain2 a:hover{
    background-color: #a7c6d4;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: url('v1013-p-0009a.jpg') center/cover no-repeat;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        overflow-x: hidden;
    }

    .inmain1 img{
        max-width: 190px;
        flex: 1;
        border-radius: 5px;
        padding-bottom: 10px;
        display: block; /* Center the image horizontally */
        margin: 0 auto; /* Center the image horizontally */
    }

    .inmain2 {
        background-color: white;
        margin-left: 0px;
        border: 1px solid orange;
        border-radius: 8px;
        flex: 2;
        padding: 10px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #ayat-manis br {
        display: none;
    }
    
    .main {
        display: flex;
        flex-direction: column;
    }

    .inmain1,
    .inmain2 {
        width: 100%;
        box-sizing: border-box;
    }
}